.ConfirmButton {
  position: relative;
}

.ConfirmButton:global.sui-confirm-container {
  color: #FFFFFF;
  border-radius: 3px;
  display: inline-flex;
}

.ConfirmButton:global.sui-confirm-container.sui-confirm-active {
  background: #FFFFFF33;
}

.ConfirmButton:global.sui-confirm-container.sui-gray {
  color: #000000;
}

.ConfirmButton:global.sui-confirm-container.sui-confirm-active.sui-gray {
  background: #00000011;
  color: #555555;
}

.ConfirmButton :global .sui-confirm {
  color: var(--base);
}

.ConfirmButton :global .sui-confirm .sui-popover-container {
  min-width: 12rem;
  padding: 0.4rem 0.6rem;
}

.ConfirmButton :global .sui-confirm .sui-confirm-btn-group {
  margin-top: 0.8rem;
}

.ConfirmButton :global .sui-confirm .sui-confirm-btn-group button {
  margin: 0;
}