.LogoListing {
  margin: 30px 0px;
}

.LogoListing h2 {
  color: var(--title);
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0px 5px;
  line-height: 34px;
  text-align: center;
}

.LogoListing :global p.description {
  color: var(--base);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.LogoListing :global .logo-list {
  justify-content: center;
}

.LogoListing :global .logo-wrapper img {
  width: 180px;
  height: 120px;
  object-fit: contain;
  filter: saturate(0);
}

.LogoListing :global .logo-wrapper img:hover {
  filter: saturate(1);
}

@media (max-width: 568px) {
  .LogoListing {
    margin-bottom: 20px;
  }

  .LogoListing h2 {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
  }

  .LogoListing :global p.description {
    text-align: left;
  }

  .LogoListing :global .logo-list {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 0px !important;
    margin-right: 0px !important
  }

  .LogoListing :global .logo-wrapper {
    padding: 6px 12px !important;
  }

  .LogoListing :global .logo-wrapper img {
    width: 120px;
    height: 80px;
    filter: saturate(1);
  }
}