.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  display: block;
  z-index: 99;
  background: #000000BB;
}

.Modal :global .sui-modal-container {
  position: relative;
  background: #FFFFFF;
  width: 500px;
  max-height: 80vh;
  border-radius: 5px;
  box-shadow: rgba(67, 90, 111, 0.3) 0px 0px 1px, rgba(67, 90, 111, 0.47) 0px 16px 24px -8px;
  z-index: 100;
}

.Modal:global.sui-modal-tall > .sui-modal-container { max-height: 95vh; }
.Modal:global.sui-modal-medium > .sui-modal-container { width: 750px; max-height: 80vh; }
.Modal:global.sui-modal-large > .sui-modal-container { width: 900px; max-height: 90vh; }
.Modal:global.sui-modal-full > .sui-modal-container { width: 100vw; max-height: 100vh; }

.Modal:global.sui-modal-transparent > .sui-modal-container {
  background: transparent;
  box-shadow: none;
  margin-top: -20px;
}

.Modal :global .sui-modal-header {
  padding: 5px 15px 0px;
}

.Modal :global .sui-modal-header .sui-header h3 {
  font-size: 1em;
  font-weight: 500;
}

.Modal :global .sui-modal-header .sui-close {
  font-size: 36px;
  line-height: 28px;
  cursor: pointer;
  margin-right: -8px;
}

.Modal :global .sui-modal-header .sui-close > button {
  padding: 3px 8px;
  margin: 0;
}

.Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-header {
  cursor: pointer;
}

.Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-header .sui-close > button {
  color: #FFFFFF;
  margin-right: -5px;
  margin-bottom: 0px;
}

.Modal :global .sui-modal-body {
  padding: 5px 15px;
  margin-bottom: 15px;
  overflow-y: auto;
}

.Modal :global .sui-modal-body > div {
  width: 100%;
}

.Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-body {
  padding: 0;
  margin: 0;
}

@media (max-width: 568px) {
  .Modal:global.sui-modal-transparent {
    align-items: flex-start;
  }

  .Modal :global .sui-modal-container {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    box-shadow: none;
    border-radius: 0px;
  }

  .Modal:global.sui-modal-transparent > .sui-modal-container {
    width: 95vw;
    height: auto;
    min-height: auto;
    max-height: 95vh;
  }

  .Modal :global .sui-modal-header {
    background: var(--primary);
    padding-bottom: 5px;
  }
  
  .Modal :global .sui-modal-header .sui-header h3 {
    font-size: 1.2em;
    color: #FFFFFF;
  }

  .Modal :global .sui-modal-header .sui-close > button {
    color: #FFFFFF;
    margin-right: 5px;
    margin-bottom: -5px;
  }

  .Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-header {
    background: transparent;
  }

  .Modal:global.sui-modal-transparent > .sui-modal-container {
    cursor: pointer;
    margin-top: 0px;
  }

  .Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-body {
    cursor: default;
  }

  .Modal:global.sui-modal-transparent > .sui-modal-container > .sui-modal-header .sui-close > button {
    margin-right: -5px;
    margin-bottom: -5px;
  }
}